@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<DeptEmailSender.Models.Department>


<h1> Departments</h1>
<a asp-action="Create">Create New Department</a>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1>Reminders</h1>
<a asp-action="Create"> Create New Reminder</a>
