@model IEnumerable<DeptEmailSender.Models.Reminder>


<h1>Reminders</h1>
<ul>
	@foreach (var reminder in Model)
	{
		<li> @reminder.RemTitle - @reminder.ReminderDateTime</li>
	}
</ul>

<a asp-action="Create"> Create New reminder</a>
<a asp-action="SendReminders">Send Due Reminders</a>